In [56]:
import pandas as pd

In [57]:
def get_justice_sheets_as_df():
    """
    Read all the sheets in the justice board file and make df's out of
    each one
    :return: dict of all the df's
    """
    makel_officer_df = pd.read_excel('justice_board.xlsx',
                                     sheet_name='Makel Officer',
                                     engine='openpyxl', index_col=0)
    makel_operator_df = pd.read_excel('justice_board.xlsx',
                                      sheet_name='Makel Operator',
                                      engine='openpyxl', index_col=0)
    manager_df = pd.read_excel('justice_board.xlsx', sheet_name='Manager',
                               engine='openpyxl', index_col=0)
    samba_df = pd.read_excel('justice_board.xlsx', sheet_name='Samba',
                             engine='openpyxl', index_col=0)
    return {'Makel Officer': makel_officer_df,
            'Makel Operator': makel_operator_df,
            'Manager': manager_df,
            'Samba': samba_df}


def get_ilutzim_sheets_as_df():
    """
    Read all the sheets in the ilutzim file and make df's out of
    each one
    :return: dict of all the df's
    """
    ilutzim_makel_officer_df = pd.read_excel('ilutzim.xlsx',
                                             sheet_name='Makel Officer',
                                             engine='openpyxl', index_col=0,
                                             header=[0, 1])
    ilutzim_makel_operator_df = pd.read_excel('ilutzim.xlsx',
                                              sheet_name='Makel Operator',
                                              engine='openpyxl', index_col=0,
                                              header=[0, 1])
    ilutzim_manager_df = pd.read_excel('ilutzim.xlsx', sheet_name='Manager',
                                       engine='openpyxl', index_col=0)
    ilutzim_samba_df = pd.read_excel('ilutzim.xlsx', sheet_name='Samba',
                                     engine='openpyxl', index_col=0)

    return {'Makel Officer': ilutzim_makel_officer_df,
            'Makel Operator': ilutzim_makel_operator_df,
            'Manager': ilutzim_manager_df,
            'Samba': ilutzim_samba_df}

In [58]:
    dict_ilutzim = get_ilutzim_sheets_as_df()
    dict_justice = get_justice_sheets_as_df()

    ilutzim_df = dict_ilutzim['Makel Officer']
    justice_df = dict_justice['Makel Officer']

    # Add locations columns (0,0), (0,1)..
    list_col = []
    for i in range(4):
        for j in range(4):
            list_col.append((i, j))

    locations_pd = pd.DataFrame(columns=list_col)
    df = pd.concat([justice_df, locations_pd])

    # Set the values of the team: 1, 2, 3+4 columns, to how many times this
    # person should be generated as this team in order to get equal with the
    # person who has the highest record of being this team
    for team in ['1', '2', '3+4']:
        col = df[team]
        max_value = col.max()
        df[team] = max_value - df[team]

    df.set_index('Name', inplace=True, drop=True)

In [59]:
ilutzim_df

Day          Sunday        Monday        Tuesday        Wednesday
Team              1  2 3+4      1  2 3+4       1  2 3+4         1  2 3+4
Name
יועד בוגנר        0  0   0      0  0   0       0  0   0         0  0   0
שלי מועלם         6  0   0      0  0   0       0  0   0         0  0   0
יובל אבידן        0  0   0      0  0   0       0  0   0         0  0   0
תומר שניידר       0  0   0      0  0   0       0  0   0         0  0   0
אפק בן סימון      6  0   0      0  0   0       0  0   0         0  0   0

In [60]:
def convert_ilutzim_format_to_conan(name, ilutzim_df, df):
    """
    Read the ilutzim file and according to the data in the df, insert the
    ilutzim entered by the people in the df into the:
    'generating_makel_officers_df' while converting days and teams to tuples
    :param name: the person to convert his ilutzim to the
    'generating_makel_officers_df'
    :param ilutzim_df: the ilutzim df
    :param df: the updated 'generating_makel_officers_df'
    """

    # Dictionaries that will assist the function to convert days and team
    # to numbers that will be set in the tuples
    dict_days_convert = {'Sunday': 0, 'Monday': 1, 'Tuesday': 2, 'Wednesday': 3}
    dict_team_convert = {'1': 0, '2': 1}

    # For each day and team, check that the person doesn't have an ilutz in the
    # ilutzim file.
    # If he has, in the 'generating_makel_officers_df' suiting tuples change
    # the value to '1'. else, change it to '0'
    for day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday']:
        for team in ['1', '2', '3+4']:
            
            # The value in the cell of the day + team combination
            value_in_cell = ilutzim_df.loc[name][day][team]
            
            # Check that the person has an ilutz of being that team in that day
            if (value_in_cell != '0') and (value_in_cell != 0):
                if team == '3+4':
                    df.at[name, (2, dict_days_convert[day])] = '1'
                    df.at[name, (3, dict_days_convert[day])] = '1'

                else:
                    df.at[name, (dict_team_convert[team],
                                 dict_days_convert[day])] = '1'
                    
            else:
                if team == '3+4':
                    df.at[name, (2, dict_days_convert[day])] = '0'
                    df.at[name, (3, dict_days_convert[day])] = '0'

                else:
                    df.at[name, (dict_team_convert[team],
                                 dict_days_convert[day])] = '0'

In [61]:
for name in df.index.values.tolist():
    convert_ilutzim_format_to_conan(name, ilutzim_df, df)

In [62]:
df

,1,2,3+4,"(0, 0)","(0, 1)","(0, 2)","(0, 3)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(2, 0)","(2, 1)","(2, 2)","(2, 3)","(3, 0)","(3, 1)","(3, 2)","(3, 3)"
Name,,,,,,,,,,,,,,,,,,,
יועד בוגנר,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
שלי מועלם,10.0,10.0,10.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
יובל אבידן,5.0,5.0,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
תומר שניידר,10.0,10.0,10.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
אפק בן סימון,10.0,10.0,10.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [67]:
def arrange_df_by_availability_and_justice(df, pos):
    """
    Takes the df and return the df of all avialible names in that position
    and arrange the names in an order of max to min shifts need to take
    :param df:
    :return:
    """
    dict_loc_to_team = {'0': '1', '1': '2', '2': '3+4', '3': '3+4'}
    team = dict_loc_to_team[f'{pos[0]}']
    available_and_sorted_df = df[df[pos] == '0'][team]
    available_and_sorted_df.sort_values(by=team)
    return available_and_sorted_df

In [68]:
a = arrange_df_by_availability_and_justice(df, (0, 0))

TypeError: sort_values() got an unexpected keyword argument 'by'

In [122]:
def arrange_df_by_availability_and_justice(df, pos):
    """
    Takes the df and return the df of all avialible names in that position
    and arrange the names in an order of max to min shifts need to take
    :param df:
    :return:
    """
    dict_loc_to_team = {'0': '1', '1': '2', '2': '3+4', '3': '3+4'}
    team = dict_loc_to_team[f'{pos[0]}']
    available = df[df[pos] == '0'][team]
    available_and_sorted_df = available.sort_values(ascending=False)
    return available_and_sorted_df

In [123]:
a = arrange_df_by_availability_and_justice(df, (0, 0))

In [125]:
type(a)

pandas.core.series.Series

In [126]:
names_df = em.arrange_df_by_availability_and_justice(makel_officers_gen_df, (row, col))

NameError: name 'em' is not defined

In [129]:
names_df = arrange_df_by_availability_and_justice(df, (0, 0))

In [130]:
names_df

Name
תומר שניידר    10.0
יובל אבידן      5.0
יועד בוגנר      0.0
Name: 1, dtype: float64

In [195]:
dict_of_names = {}
name = ''
sum_of_name = 0
for i in range(len(names_df)):
    name = names_df.index[i]
    sum_of_name = names_df[i]
    dict_of_names[name] = sum_of_name

In [196]:
dict_of_names

{'תומר שניידר': 10.0, 'יובל אבידן': 5.0, 'יועד בוגנר': 0.0}

In [197]:
list = []
for key in dict_of_names:
    list.append(key)

In [198]:
list

['תומר שניידר', 'יובל אבידן', 'יועד בוגנר']

In [271]:
def create_list(dict_of_availble):
    """
    Insert into the list all the names of the availible people from the dict
    :param dict: the dictonary containing the name of each availble person and
    how many shifts is he behind
    :return:
    """
    list = []
    for key in dict_of_availble:
        list.append(key)
    return list

In [272]:
l = create_list(dict_of_names)

In [273]:
l

['תומר שניידר', 'יובל אבידן', 'יועד בוגנר']

In [274]:
def update_list(dict_of_availble, l):
    """
    Move the person with the highest number of shifts behind and move it to
    the first value in the list
    :param dict: the dictonary containing the name of each availble person and
    how many shifts is he behind
    :param list: the list we are updating
    :return: list
    """
    name_of_highest = ''
    highest = -1
    
    for key in dict_of_availble:
        
        if dict_of_availble[key] > highest:
            highest = dict_of_availble[key]
            name_of_highest = key

    popped_item_index = l.index(name_of_highest)
    popped_item = l.pop(l.index(name_of_highest))
    l.insert(0, popped_item)
    print(l)

In [288]:
n = update_list(dict_of_names, l)

['תומר שניידר', 'יובל אבידן', 'יועד בוגנר']

In [291]:
l[0]

'תומר שניידר'

In [290]:
print(n)

None

In [292]:
df

,1,2,3+4,"(0, 0)","(0, 1)","(0, 2)","(0, 3)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(2, 0)","(2, 1)","(2, 2)","(2, 3)","(3, 0)","(3, 1)","(3, 2)","(3, 3)"
Name,,,,,,,,,,,,,,,,,,,
יועד בוגנר,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
שלי מועלם,10.0,10.0,10.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
יובל אבידן,5.0,5.0,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
תומר שניידר,10.0,10.0,10.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
אפק בן סימון,10.0,10.0,10.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [294]:
dict_loc_to_team = {'0': '1', '1': '2', '2': '3+4', '3': '3+4'}
team = dict_loc_to_team[f'{0}']

In [297]:
name

'יועד בוגנר'

In [298]:
df.at[name, team]

0.0

In [299]:
df.at[name, team] += 1

In [2]:
import pandas as pd

In [14]:
col1 = ['Sunday', 'Monday', 'Tuesday', 'Wednesday']
index1 = ['Officer 1', 'Officer 2', 'Officer 3', 'Officer 4']
data1 = [{'Sunday': 'yoav',
         'Monday': 'yoav',
         'Tuesday': 'yoav',
         'Wednesday': 'yoav'}]

In [15]:
df1 = pd.DataFrame(data=data1, columns=col1, index=index1)

In [17]:
col2 = ['Sunday', 'Monday', 'Tuesday', 'Wednesday']
index2 = ['Manager', 'Samba', 'Fast caller', 'Toran',
          'Officer 1', 'Officer 2', 'Officer 3', 'Officer 4',
         'Operator 1', 'Operator 2', 'Operator 3', 'Operator 4']
data2 = [{'Sunday': 'empty',
         'Monday': 'empty',
         'Tuesday': 'empty',
         'Wednesday': 'empty'}]

In [28]:
df2 = pd.DataFrame(data=data2, columns=col2, index=index2)

In [29]:
df2

            Sunday Monday Tuesday Wednesday
Manager      empty  empty   empty     empty
Samba        empty  empty   empty     empty
Fast caller  empty  empty   empty     empty
Toran        empty  empty   empty     empty
Officer 1    empty  empty   empty     empty
Officer 2    empty  empty   empty     empty
Officer 3    empty  empty   empty     empty
Officer 4    empty  empty   empty     empty
Operator 1   empty  empty   empty     empty
Operator 2   empty  empty   empty     empty
Operator 3   empty  empty   empty     empty
Operator 4   empty  empty   empty     empty

In [31]:
df2.loc['Officer 1'] = df1.loc['Officer 1']

In [33]:
df2

            Sunday Monday Tuesday Wednesday
Manager      empty  empty   empty     empty
Samba        empty  empty   empty     empty
Fast caller  empty  empty   empty     empty
Toran        empty  empty   empty     empty
Officer 1     yoav   yoav    yoav      yoav
Officer 2    empty  empty   empty     empty
Officer 3    empty  empty   empty     empty
Officer 4    empty  empty   empty     empty
Operator 1   empty  empty   empty     empty
Operator 2   empty  empty   empty     empty
Operator 3   empty  empty   empty     empty
Operator 4   empty  empty   empty     empty

In [38]:
def get_justice_sheets_as_df():
    """
    Read all the sheets in the justice board file and make df's out of
    each one
    :return: dict of all the df's
    """
    makel_officer_df = pd.read_excel('justice_board.xlsx',
                                     sheet_name='Makel Officer',
                                     engine='openpyxl', index_col=0)
    makel_operator_df = pd.read_excel('justice_board.xlsx',
                                      sheet_name='Makel Operator',
                                      engine='openpyxl', index_col=0)
    manager_df = pd.read_excel('justice_board.xlsx', sheet_name='Manager',
                               engine='openpyxl', index_col=0)
    samba_df = pd.read_excel('justice_board.xlsx', sheet_name='Samba',
                             engine='openpyxl', index_col=0)
    return {'Makel Officer': makel_officer_df,
            'Makel Operator': makel_operator_df,
            'Manager': manager_df,
            'Samba': samba_df}
dict_justice = get_justice_sheets_as_df()

In [65]:
justice_df = dict_justice['Samba']

In [71]:
only_toranim = justice_df[justice_df['Fast caller and Toran']]

In [79]:
a = only_toranim[['Name', 'Sum']].reset_index(drop=True)

In [82]:
a

            Name  Sum
0      רוני בורט    0
1    דיאנה פלדמן    0
2       אמבר פרץ    0
3       שקד יעקב    0
4      לוטן תמרי    0
5  עדו בורנשטיין    0
6      נטע לאופר    0

In [105]:
inde = a[a['Name'] == 'לוטן תמרי']['Sum'].index[0]

In [106]:
print(inde)

4

In [107]:
a.at[inde, 'Sum'] = 2

In [108]:
a

            Name  Sum
0      רוני בורט    0
1    דיאנה פלדמן    0
2       אמבר פרץ    0
3       שקד יעקב    0
4      לוטן תמרי    2
5  עדו בורנשטיין    0
6      נטע לאופר    0

In [109]:
l = ['Officer 1', 'Office 2', 'Officer 3', 'Officer 4']

In [110]:
l

['Officer 1', 'Office 2', 'Officer 3', 'Officer 4']

In [3]:
import pandas as pd

In [14]:
df = pd.read_csv('files_location.csv', index_col=0)

In [15]:
df

      ilutzim justice_board tzevet_conan
0  i location   jb location   t location

In [16]:
df.at[0, 'ilutzim']

'i location'

In [17]:
df.at[0, 'ilutzim'] = 'he'

In [18]:
df.to_csv('files_location.csv', index=False)

In [19]:
df

  ilutzim justice_board tzevet_conan
0      he   jb location   t location

In [20]:
df = pd.read_csv('files_location.csv', index_col=0)

In [21]:
df

        justice_board tzevet_conan
ilutzim
he        jb location   t location

In [24]:
df = pd.read_csv('files_location.csv', index_col=0)

In [36]:
df.at[0, 'ilutzim'] = 'new'

In [37]:
df

  ilutzim justice_board tzevet_conan
0     new   jb location   t location

In [38]:
df.to_csv('files_location.csv')

In [39]:
dd = pd.read_csv('files_location.csv')

In [40]:
dd

   Unnamed: 0 ilutzim justice_board tzevet_conan
0           0     new   jb location   t location